<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162012322179-er5has8ppode3s9jjqua93ogm8jk9b5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162012322179-er5has8ppode3s9jjqua93ogm8jk9b5d</string>
	<key>API_KEY</key>
	<string>AIzaSyDD-NxTfLjuuoD7jjQLc2Na8fx108wru8s</string>
	<key>GCM_SENDER_ID</key>
	<string>162012322179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sagintayev.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-94808</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-94808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162012322179:ios:5ab97d3e01d9d68da7beb6</string>
</dict>
</plist>